
    <!-- Seller section -->
  <section>
    <div class="container">
      <div class="notification is-primary" id="info">
        <center>Seller Info</center>
        <ul>
      
            <li id="name">Name: {{UserBio.name}}</li>
            <li id="location">Location: {{UserBio.location}}</li>
            <li id="contact">Contact: {{UserBio.contact}}</li>
            <li id="about">About: {{UserBio.about}}</li>
      
        </ul>
      </div>
    </div>
  </section>
  <br/>
  <div class="container">
    <div class="notification is-primary" id="sale">
      <strong>Items for Sale:</strong>
      <a class="new-item-form" href="/add-item/{{UserBio.user_id}}">Add Item</a>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          {{#each SaleItems as |item| }}
            <ul class="list-group list-group-flush">
              <li class="list-group-item" id="item-name">Item: {{item.item_name}}</li>
              <li class="list-group-item" id="price">Price: {{item.price}}</li>
              <li class="list-group-item" id="quantity">Quantity: {{item.quantity}}</li>
              <li class="list-group-item" id="status">Sold: {{item.status}}</li>
              <li class="list-group-item" id="description">Description: {{item.description}}</li>
            </ul>
          {{/each}}
            <div class="card-body">
              <a href="#" class="card-link" type="submit">Save</a>
              <a href="#" class="card-link" type="submit">Edit</a>
              <a href="#" class="card-link" type="submit">Delete</a>
            </div>
        </div>
    </div>
    <script src="./js/edit-sale.js"></script>
    <br/>
    